extends layout

block content 
  h5.text-center #{state}
  form.col-xs-offset-2.col-xs-8.form-horizontal(action='/idle', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group  
      button.col-xs-12.btn.btn-primary(type='submit')
        | Reset
  form.col-xs-offset-2.col-xs-8.form-horizontal(action='/mirror', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group  
      button.col-xs-12.btn.btn-primary(type='submit', style='height:70px;')
        | Mirror
  form.col-xs-offset-2.col-xs-8.form-horizontal(action='/straight', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group  
      button.col-xs-12.btn.btn-primary(type='submit')
        | Straight
  form.col-xs-offset-1.col-xs-5.form-horizontal(action='/left_blink/1', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      button.col-xs-12.btn.btn-primary(type='submit', style='height:70px;')
        i.fa.fa-arrow-circle-left
        | Left 0
  form.col-xs-5.form-horizontal(action='/right_blink/1', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group  
      button.col-xs-12.btn.btn-primary(type='submit', style='height:70px;')
        | Right 0 
        i.fa.fa-arrow-circle-right
  form.col-xs-offset-1.col-xs-5.form-horizontal(action='/left_blink/50', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      button.col-xs-12.btn.btn-primary(type='submit', style='height:70px;')
        i.fa.fa-arrow-circle-left
        | Left 50
  form.col-xs-5.form-horizontal(action='/right_blink/50', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group  
      button.col-xs-12.btn.btn-primary(type='submit', style='height:70px;')
        | Right 50
        i.fa.fa-arrow-circle-right
  video(autoplay)
  script.
    navigator.getUserMedia  = navigator.getUserMedia ||
                              navigator.webkitGetUserMedia ||
                              navigator.mozGetUserMedia ||
                              navigator.msGetUserMedia;

    var video = document.querySelector('video');

    if (navigator.getUserMedia) {
      navigator.getUserMedia({video: true}, function(stream) {
        video.src = window.URL.createObjectURL(stream);
      }, errorCallback);
    } else {
      video.src = 'somevideo.webm'; // fallback.
    }
    var errorCallback = function(e) {
      console.log('Reeeejected!', e);
    };

  
  